.AppSubHeader {
    width: 100%;
    padding: 5px;
    background-color: var(--sub-cor-padrao);
}

.Avatar {
    text-align: right;
    cursor: pointer;
}

@media (max-width: 580px){
    .BotaoDeSair{
        align-items: end;
    }
}

.BotaoDeSair{
    width: 100%;
    text-align: right;
}


.Ambiente {
    text-align: left;
}

.Logo {
    width: 60px;
}
